---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import { getLocalePath, t } from "i18n:astro";

import Services from "@components/ServiceSection.astro";
import GalleryHero from "@components/GalleryHero.astro";
import AboutSection from "@components/AboutSection.astro";
// import Hero from "@components/Hero.astro";

import { getOptimizedImage } from "@utils/utils";
// IMAGES
import landingImage from "@assets/images/hero.jpg";
import mobileLandingImage from "@assets/images/hero-m.jpg"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import gel from "@assets/images/hero-page/gel-x.jpeg";
import builder from "@assets/images/hero-page/builder-gel.jpeg";
import pedicure from "@assets/images/hero-page/pedicure.jpeg";
import rubber from "@assets/images/hero-page/rubber.jpeg";

// OPTIMIZED IMAGES
const optimizedMobileLandingImage = await getOptimizedImage(mobileLandingImage);
const optimizedLandingImage = await getOptimizedImage(landingImage);
const optimizedGel = await getOptimizedImage(gel);
const optimizedBuilder = await getOptimizedImage(builder);
const optimizedPedicure = await getOptimizedImage(pedicure);
const optimizedRubber = await getOptimizedImage(rubber);
---

<BaseLayout
  title={t("home:layout.title")}
  description={t("home:layout.description")}
  preloadedImage={optimizedMobileLandingImage}
  preloadedImage={optimizedLandingImage}
  preloadedImage={optimizedGel}
  preloadedImage={optimizedBuilder}
  preloadedImage={optimizedPedicure}
  preloadedImage={optimizedRubber}
>
  <!-- Hero -->
  <section id="hero-1957">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">{t("home:hero.topper")}</span>
        <h1 class="cs-title">{t("home:hero.title.1")}</h1>
        <p class="cs-text">
          {t("home:hero.p1")}
        </p>
        <a href="/prices" class="cs-button-solid"> {t("home:hero.cta")} </a>
      </div>
    </div>

    <!-- Background Image -->
    <!-- We can't use Astro <Picture /> as it does not support multiple sources -->
    <picture class="cs-background">
      <source
        media="(max-width: 600px)"
        srcset={optimizedMobileLandingImage.src}
      />
      <source media="(min-width: 601px)" srcset={optimizedLandingImage.src} />
      <img
        aria-hidden="true"
        src={optimizedLandingImage.src}
        width={optimizedLandingImage.attributes.width}
        height={optimizedLandingImage.attributes.height}
        loading="eager"
        alt=""
      />
    </picture>
  </section>

  <!-- Hero Services -->
  <section id="services-1957">
    <div class="cs-container">
      <ul class="cs-card-group">
        <li class="cs-item">
          <a href={getLocalePath("/services/gel-x")} class="cs-link">
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-up-right-arrow.svg"
                alt="icon"
                width="32"
                height="32"
              />
            </picture>
            <div class="cs-flex">
              <span class="cs-topper">{t("home:4servicePanel.0.heading")}</span>
              <!-- <h3 class="cs-h3">{t("home:services.0.p")}</h3> -->
            </div>
          </a>
          <picture class="cs-item-background">
            <source media="(max-width: 600px)" srcset={optimizedGel.src} />
            <source media="(min-width: 601px)" srcset={optimizedGel.src} />
            <img
              decoding="sync"
              src={optimizedGel.src}
              alt="healthcare patient"
              width="455"
              height="337"
              aria-hidden="true"
              loading="eager"
            />
          </picture>
        </li>
        <li class="cs-item">
          <a href={getLocalePath("/services/builder-gel")} class="cs-link">
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-up-right-arrow.svg"
                alt="icon"
                width="32"
                height="32"
              />
            </picture>
            <div class="cs-flex">
              <span class="cs-topper">{t("home:4servicePanel.1.heading")}</span>
              <!-- <h3 class="cs-h3">{t("home:services.1.p")}</h3> -->
            </div>
          </a>
          <picture class="cs-item-background">
            <source media="(max-width: 600px)" srcset={optimizedBuilder.src} />
            <source media="(min-width: 601px)" srcset={optimizedBuilder.src} />
            <img
              decoding="sync"
              src={optimizedBuilder.src}
              alt="healthcare patient"
              width="455"
              height="337"
              aria-hidden="true"
              loading="eager"
            />
          </picture>
        </li>
        <li class="cs-item">
          <a href={getLocalePath("/services/deluxe-pedicure")} class="cs-link">
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-up-right-arrow.svg"
                alt="icon"
                width="32"
                height="32"
              />
            </picture>
            <div class="cs-flex">
              <span class="cs-topper">{t("home:4servicePanel.2.heading")}</span>
              <!-- <h3 class="cs-h3">{t("home:services.2.p")}</h3> -->
            </div>
          </a>
          <picture class="cs-item-background">
            <source media="(max-width: 600px)" srcset={optimizedPedicure.src} />
            <source media="(min-width: 601px)" srcset={optimizedPedicure.src} />
            <img
              decoding="sync"
              src={optimizedPedicure.src}
              alt="healthcare patient"
              width="455"
              height="337"
              aria-hidden="true"
              loading="eager"
            />
          </picture>
        </li>
        <li class="cs-item">
          <a href={getLocalePath("/prices")} class="cs-link">
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-up-right-arrow.svg"
                alt="icon"
                width="32"
                height="32"
              />
            </picture>
            <div class="cs-flex">
              <span class="cs-topper">{t("home:4servicePanel.3.heading")}</span>
              <!-- <h3 class="cs-h3">{t("home:services.3.p")}</h3> -->
            </div>
          </a>
          <picture class="cs-item-background">
            <source media="(max-width: 600px)" srcset={optimizedRubber.src} />
            <source media="(min-width: 601px)" srcset={optimizedRubber.src} />
            <img
              decoding="sync"
              src={optimizedRubber.src}
              alt="healthcare patient"
              width="455"
              height="337"
              aria-hidden="true"
              loading="eager"
            />
          </picture>
        </li>
      </ul>
    </div>
  </section>
  <Services />
  <AboutSection />
  <GalleryHero />
  <CTA />
</BaseLayout>

<style lang="less">
  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #hero-1957 {
      /* removed at Tablet */
      min-height: 100dvh;
      padding: var(--sectionPadding);
      /* 200px - 300px - leaving extra space for the navigation */
      padding-top: clamp(12.5rem, 31.95vw, 18.75rem);
      padding-right: clamp(1rem, 2.5vw, 1.25rem);
      /* 16px - 20px */
      padding-left: clamp(1rem, 2.5vw, 1.25rem);
      display: flex;
      align-items: flex-end;
      position: relative;
      z-index: 1;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* 60px - 180px */
        gap: clamp(3.75rem, 13vw, 11.25rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: (554/16rem);
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-topper {
        margin-bottom: (8/16rem);
        color: #fff;
      }

      .cs-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 5.975vw, 3.8125rem);
        margin-bottom: (16/16rem);
        color: #fff;
      }

      .cs-text {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.95vw, 1.25rem);
        /* 28px - 40px */
        margin: 0 0 clamp(1.75rem, 2.5vw, 2.5rem) 0;
        color: #fff;
      }

      .cs-button-solid {
        font-size: (16/16rem);
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        margin: 0;
        padding: 0 (24/16rem);
        background-color: var(--primary);
        color: #fff;
        display: inline-block;
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          width: 0%;
          height: 100%;
          background: #000;
          opacity: 1;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        &:before {
          /* Overlay */
          content: "";
          width: 100%;
          height: 100%;
          background: linear-gradient(
            359deg,
            rgba(0, 0, 0, 0.5) 40%,
            rgba(0, 0, 0, 0) 56.87%
          );
          /* prevents the cursor from interacting with it */
          pointer-events: none;
          opacity: 1;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          /* makes the top of the image start at the top of the parent */
          // object-position: top;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #hero-1957 {
      min-height: auto;
      .cs-container {
        align-items: flex-start;
      }

      .cs-content {
        text-align: left;
        margin-left: 0;
        align-items: flex-start;
      }

      .cs-background {
        &:before {
          background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.4) 25.47%,
            rgba(0, 0, 0, 0) 50.01%
          );
        }
      }
    }
  }

  /* Large Desktop Parallax Effect - 100px */
  @media only screen and (min-width: 100rem) {
    // #hero-1957 {
    //     .cs-background {
    //         background: url("src/assets/images/hero.jpg");
    //         background-position: center;
    //         background-size: cover;
    //         background-repeat: no-repeat;
    //         /* creates the parallax effect */
    //         background-attachment: fixed;
    //         // img {
    //         //     display: none;
    //         // }
    //     }
    // }
  }

  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #services-1957 {
      /* 16px - 20px */
      padding: clamp(1rem, 2vw, 1.25rem);
      position: relative;
      z-index: 1;

      .cs-container {
        width: 100%;
        max-width: (1920/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
      }

      .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2.5vw, 1.25rem);
      }

      .cs-item {
        text-align: left;
        list-style: none;
        width: 100%;
        /* 280px - 337px */
        min-height: clamp(17.5rem, 35vw, 21.0625rem);
        margin: 0;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: 0;
        /* clips background image corners */
        overflow: hidden;
        box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
        border-radius: (16/16rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        grid-column: span 12;
        grid-row: span 1;
        position: relative;
        z-index: 1;

        &:hover {
          .cs-item-background {
            img {
              transform: scale(1.3);
            }
          }
        }
      }

      .cs-link {
        text-decoration: none;
        width: 100%;
        height: 100%;
        /* 125px - 236px */
        /* padding goes on the link, not the cs-item as is normal. We do this because we want the whole card to be hoverable. So we add the padding to the link tag to create the space inside the card. By adding the space inside the cs-link tag we can make the whole card hoverable since the padding is now contributing to the height and width of the link */
        padding: (16/16rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }

      .cs-icon-wrapper {
        width: (48/16rem);
        height: (48/16rem);
        margin-left: auto;
        background: #fff;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
        border-radius: (12/16rem);
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
      }

      .cs-icon {
        width: (32/16rem);
        height: auto;
      }

      .cs-flex {
        width: 100%;
      }

      .cs-topper {
        margin-bottom: (8/16rem);
        color: #fff;
      }

      .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        font-weight: 700;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 19ch;
        margin: 0 0 (12/16rem) 0;
        color: #fff;
        transition: color 0.3s;
      }

      .cs-item-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        &:before {
          /* background color overlay */
          content: "";
          width: 100%;
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 57.04%,
            rgba(0, 0, 0, 0.5) 87.88%
          );
          opacity: 1;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

        img {
          width: 100%;
          height: 100%;
          /* Makes img tag act as a background image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          transition:
            transform 0.6s,
            opacity 0.3s;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-1957 {
      .cs-item {
        grid-column: span 6;
      }
    }
  }

  /* Large Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #services-1957 {
      .cs-item {
        grid-column: span 3;
      }
    }
  }

  /* STYLES FOR ABOVE THE FOLD */

  /*-- -------------------------- -->
<---           Hero  Original           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #hero {
      font-family: "Roboto", "Arial", sans-serif;
      /* Centers button */
      text-align: center;
      /* changes on tablet */
      padding: 0 (16/16rem);
      padding-bottom: (100/16rem);
      position: relative;
      z-index: 1;
      /* prevents overflow from the lines extending past the screen width */
      overflow: hidden;

      .cs-picture {
        /* Background Image */
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        &:before {
          /* Black Color Overlay */
          content: "";
          width: 100%;
          height: 100%;
          background: #000;
          opacity: 0.7;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          /* prevents the cursor from interacting with it */
          pointer-events: none;
        }

        img {
          width: 100%;
          height: 100%;
          /* Makes image act like a background-image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-container {
        width: 100%;
        max-width: (1280/16em);
        margin: auto;
        /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
        /* 144px - 280px - leaving extra space for the navigation */
        /* changes on tablet */
        padding: clamp(9em, 25.95vw, 17.5em) 0;
        position: relative;

        &:before {
          /* Left Line */
          content: "";
          width: 1px;
          height: 100%;
          background: -moz-linear-gradient(
            top,
            rgba(250, 251, 252, 0.5) 0%,
            rgba(250, 251, 252, 0) 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            top,
            rgba(250, 251, 252, 0.5) 0%,
            rgba(250, 251, 252, 0) 100%
          ); /* Chrome10-25,Safari5.1-6 */
          opacity: 1;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-flex-group {
        width: 80vw;
        /* 464px - 562px */
        max-width: clamp(29em, 60vw, 35.125em);
        margin: auto;
        /* 60px - 220px */
        margin-bottom: clamp(3.75em, 15.5vw, 13.75em);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
      }

      .cs-topper {
        text-align: center;
        margin-bottom: (16/16rem);
      }

      .cs-title {
        text-align: center;
        width: 100%;
        color: var(--bodyTextColorWhite);
      }

      .cs-text {
        text-align: center;
        /* 32px - 40px */
        margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
        /* 40px - 48px */
        margin-bottom: clamp(2.5rem, 4vw, 3rem);
        color: var(--bodyTextColorWhite);
      }

      .cs-caution {
        background-color: var(--primary);
        padding: (16/16rem) (24/16rem);
        font-size: (20/16rem);
      }

      .cs-button-solid {
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        height: initial;
        margin-bottom: calc(16 / 16 * 1rem);
      }

      .cs-button-transparent {
        font-size: (16/16rem);
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        width: (180/16rem);
        /* 46px - 56px */
        height: clamp(2.875em, 5.5vw, 3.5em);
        margin: 0 (8/16rem);
        box-sizing: border-box;
        padding: 0;
        color: #fff;
        background-color: transparent;
        border: 1px solid var(--bodyTextColorWhite);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          background: #000;
          opacity: 1;
          display: block;
          position: absolute;
          /* so it sits on top of the border */
          top: -1px;
          right: -1px;
          bottom: -1px;
          left: -1px;
          z-index: -1;
          /* this is what creates the grow affect on hover */
          transform: scaleX(0);
          transition: transform 0.3s;
          transform-origin: left;
        }

        &:hover {
          &:before {
            transform: scaleX(1);
          }
        }

        .cs-img {
          margin-right: (12/16rem);
          display: block;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #hero {
      /* 32px - 40px */
      padding: 0 clamp(2em, 5vw, 2.5em);

      .cs-container {
        padding: clamp(7em, 27.95vw, 17.5em) 0 clamp(9em, 30.95vw, 23.5em) 0;
        &:after {
          /* Right Line */
          content: "";
          width: 1px;
          height: 100%;
          background: -moz-linear-gradient(
            top,
            rgba(250, 251, 252, 0) 0%,
            rgba(250, 251, 252, 0.5) 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            top,
            rgba(250, 251, 252, 0) 0%,
            rgba(250, 251, 252, 0.5) 100%
          ); /* Chrome10-25,Safari5.1-6 */
          opacity: 1;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      .cs-button-solid {
        margin-right: (20/16rem);
        margin-bottom: 0;
      }
    }
  }

  /* Desktop Parallax Effect - 1300px */
  @media only screen and (min-width: 81.25em) {
    // #hero {
    //   background: url("/assets/images/hero.jpg");
    //   background-position: center;
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   creates parallax effect on background image
    //   background-attachment: fixed;
    // }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #hero {
        .cs-background {
          &:before {
            opacity: 0.8;
          }
        }
      }
    }
  }

  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile */
  @media only screen and (min-width: 0em) {
    .services {
      width: 90%;
      max-width: (1320/16em);
      margin: auto;
      margin-top: (-167/16em);
      margin-bottom: (50/16em);
      padding: (50/16em) (20/16em);
      background: #fff;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      border-top: (6/16em) solid var(--primary);
      border-radius: (5/16em);
      position: relative;
      z-index: 100;
      .card {
        width: 100%;
        max-width: (357/16em);
        margin: auto;
        margin-bottom: (50/16em);
        display: block;
        &:last-of-type {
          margin-bottom: 0;
        }

        picture {
          width: (88/16em);
          height: (88/16em);
          margin: auto;
          margin-bottom: (23/16em);
          background: var(--primary);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: (48/16em);
            height: (48/16em);
          }
        }
        h2 {
          font-size: (32/16em);
          font-weight: 700;
          line-height: 27/20em;
          text-align: center;
          margin-bottom: 13/20em;
          color: #1a1a1a;
        }
        p {
          line-height: 24/18em;
          text-align: center;
          width: 100%;
          opacity: 0.7;
        }
      }
    }
  }

  /* Inbetween */
  @media only screen and (min-width: 768px) {
    .services {
      font-size: ~"min(1.8vw, 1em)";
      width: 98%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .card {
        max-width: (325/16em);
        margin: 0;
      }
    }
  }

  /* Large Desktop */
  @media only screen and (min-width: 1300px) {
    .services {
      padding: (50/16em) (80/16em);

      .card {
        max-width: (357/16em);
      }
    }
  }

  /* Dark mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #services {
        background: var(--medium);

        picture {
          background: var(--primaryDark);
        }

        h2 {
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
</style>
