---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTAPrices.astro";
import Landing from "@components/Landing.astro";

import { t } from "i18n:astro"; // Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)

import { getOptimizedImage } from "@utils/utils";
import landingImage from "@assets/images/landing.jpg"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import pricesIMG1 from "@assets/images/prices-page/prices-1.jpg";
import pricesIMG2 from "@assets/images/prices-page/prices-2.jpg";
const optimizedImage = await getOptimizedImage(landingImage);
---

<BaseLayout
  title={t("about-page.landing")}
  description="Meta description for the page"
  preloadedImage={optimizedImage}
>
  <Landing title="Prices" image={optimizedImage} />
  <!-- ============================================ -->
  <!--                  Pricing                     -->
  <!-- ============================================ -->

  <section id="pricing-995">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Pricing</span>
        <h2 class="cs-title">Manicures</h2>
        <!--Menu-->
        <ul class="cs-menu-group">
          <li class="cs-menu-item">
            <h3 class="cs-h3">
              <span class="cs-header">Gel-X Full Set</span>
              <span class="cs-price">$30</span>
            </h3>
          </li>
          <li class="cs-menu-item">
            <h3 class="cs-h3">
              <span class="cs-header">Builder Gel Full Set</span>
              <span class="cs-price">$30</span>
            </h3>
          </li>
          <li class="cs-menu-item">
            <h3 class="cs-h3">
              <span class="cs-header">Rubber Base Gel Full Set</span>
              <span class="cs-price">$30</span>
            </h3>
          </li>
          <li class="cs-menu-item">
            <h3 class="cs-h3">
              <span class="cs-header">Regular Manicure</span>
              <span class="cs-price">$15</span>
            </h3>
          </li>
          <li class="cs-menu-item">
            <h3 class="cs-h3">
              <span class="cs-header">Refill</span>
              <span class="cs-price">$15</span>
            </h3>
          </li>
          <li class="cs-menu-item">
            <h3 class="cs-h3">
              <span class="cs-header">Soak Off</span>
              <span class="cs-price">$5</span>
            </h3>
          </li>
        </ul>
      </div>
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset={pricesIMG1.src} />
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset={pricesIMG1.src} />
        <img
          loading="lazy"
          decoding="async"
          src={pricesIMG1.src}
          alt="hair salon"
          width="521"
          height="640"
        />
      </picture>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                  Pricing                     -->
  <!-- ============================================ -->

  <section id="pricing-r-995">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Pricing</span>
        <h2 class="cs-title">Pedicures</h2>
        <!--Menu-->
        <ul class="cs-menu-group">
          <li class="cs-menu-item">
            <h3 class="cs-h3">
              <span class="cs-header">Deluxe Pedicure</span>
              <span class="cs-price">$30</span>
            </h3>
          </li>

          <li class="cs-menu-item">
            <h3 class="cs-h3">
              <span class="cs-header">Gel Pedicure</span>
              <span class="cs-price">$20</span>
            </h3>
          </li>
          <li class="cs-menu-item">
            <h3 class="cs-h3">
              <span class="cs-header">Regular Pedicure</span>
              <span class="cs-price">$10</span>
            </h3>
          </li>
        </ul>
      </div>
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset={pricesIMG2.src} />
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset={pricesIMG2.src} />
        <img
          loading="lazy"
          decoding="async"
          src={pricesIMG2.src}
          alt="hair salon"
          width="521"
          height="640"
        />
      </picture>
    </div>
  </section>

  <CTA />
</BaseLayout>

<style lang="less">
  /*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #pricing-995,
    #pricing-r-995 {
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: (550/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-title {
        margin: 0 0 (32/16rem) 0;
      }

      .cs-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: (20/16rem);
        /* 28px - 40px */
        row-gap: clamp(1.75rem, 3vw, 2.5rem);
      }

      .cs-menu-group {
        width: 100%;
        max-width: (630/16rem);
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* 28px - 40px */
        gap: clamp(1.75rem, 3vw, 2.5rem);
      }

      .cs-menu-item {
        list-style: none;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: (8/16rem);
      }

      .cs-h3 {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: (24/16rem);
        position: relative;
        z-index: 1;

        &:before {
          /* grey line */
          content: "";
          width: 100%;
          height: 2px;
          background: #e8e8e8;
          opacity: 1;
          position: absolute;
          display: block;
          top: (13/16rem);
          left: 0;
          z-index: -1;
        }
      }

      .cs-header {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2vw, 1.5625rem);
        line-height: 1.2em;
        text-align: inherit;
        font-weight: 700;
        max-width: (400/16rem);
        padding-right: (8/16rem);
        background-color: #fff;
        color: var(--headerColor);
      }

      .cs-price {
        font-size: (16/16rem);
        line-height: 1.5em;
        font-weight: 400;
        padding-left: (8/16rem);
        background-color: #fff;
        color: var(--headerColor);
      }

      .cs-menu-text {
        font-size: (16/16rem);
        line-height: 1.5em;
        text-align: inherit;
        margin: 0;
        color: var(--bodyTextColor);
      }

      .cs-picture {
        width: 100%;
        min-height: (380/16rem);
        display: block;
        /* sends it to the top */
        order: -1;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #pricing-995,
    #pricing-r-995 {
      .cs-container {
        max-width: (1280/16rem);
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
      }

      .cs-menu-group {
        width: 100%;
      }

      .cs-picture {
        max-width: (521/16rem);
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #pricing-995,
      #pricing-r-995 {
        .cs-title,
        .cs-header,
        .cs-menu-text,
        .cs-price {
          color: var(--bodyTextColorWhite);
        }

        .cs-header,
        .cs-price {
          background-color: var(--dark);
        }

        .cs-menu-text {
          opacity: 0.8;
        }
      }
    }
  }

  /*-- -------------------------- -->
<---     Pricing Reverse        -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #pricing-r-995 {
      background-color: #f7f7f7;

      .cs-header,
      .cs-price {
        /* same as the background color of the section */
        background-color: #f7f7f7;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #pricing-r-995 {
      .cs-header,
      .cs-price {
        background-color: #f7f7f7;
      }

      .cs-picture {
        /* sends it to the right in the 2nd position */
        order: 2;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #pricing-r-995 {
        background-color: var(--medium);

        .cs-header,
        .cs-price {
          background-color: var(--medium);
        }
      }
    }
  }
</style>
