---
import client from "@data/client.json";
// import navData from "@data/navData";
import { getCurrentYear } from "@utils/utils";
import { getLocalePath, t } from "i18n:astro";

const currentYear = getCurrentYear();
---

<!--Notes: Make the section above this stitch have a:
    padding-bottom: clamp(25rem, 30vw, 28.125rem);
-->
<footer id="cs-footer-1865">
  <div class="cs-container">
    <!--Top Section-->
    <div class="cs-top">
      <!--Warped logo in wrapper div so that div can be 100% width to force the lists below it to stay in their line.  The cs-logo can maintain its' max width. we didn't want it 100% width because then the blank area to the right of the logo will also result in a click and hover event. -->
      <div class="cs-logo-wrapper">
        <a href={getLocalePath("/")} class="cs-logo">
          <img
            src="/src/assets/images/logos/katiaLogo100.png"
            alt="logo"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            width="317"
            height="49"
          />
        </a>
        <ul class="cs-social">
          <li class="cs-social-li">
            <a
              href={client.instagramLink}
              class="cs-social-link"
              rel="noopener"
              target="_blank"
              aria-label=""
            >
              <img
                class="cs-social-icon cs-default"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-derm-footer.svg"
                alt="icon"
                loading="lazy"
                decoding="async"
                width="24"
                height="24"
                aria-hidden="true"
              />
            </a>
          </li>
        </ul>
      </div>
      <ul class="cs-ul cs-contact-ul">
        <li class="cs-li">
          <span class="cs-header">Contact Info</span>
        </li>
        <li class="cs-li">
          <a
            href={client.address.mapLink}
            class="cs-link"
            target="_blank"
            rel="noopener"
          >
            {client.address.lineOne}
            <br />
            <span class="cs-block">
              {client.address.city},
              {client.address.state}
              {client.address.zip}
            </span>
          </a>
        </li>
        <li class="cs-li">
          <a href={`tel:${client.phoneForTel}`} class="cs-link">
            {client.phoneFormatted}
          </a>
        </li>
      </ul>
      <ul class="cs-ul">
        <li class="cs-li">
          <span class="cs-header">Hours</span>
        </li>
        <li class="cs-li">Monday to Friday</li>
        <li class="cs-li">9am - 5pm</li>
      </ul>
    </div>
    <!--Bottom Section-->
    <div class="cs-bottom">
      <!--Navigation-->
      <ul class="cs-nav">
        <li class="cs-nav-li">
          <a href={getLocalePath("/")} class="cs-nav-link">Home</a>
        </li>
        <li class="cs-nav-li">
          <a href={getLocalePath("/about")} class="cs-nav-link">About</a>
        </li>
        <li class="cs-nav-li">
          <a href={getLocalePath("/gallery")} class="cs-nav-link">Gallery</a>
        </li>
        <li class="cs-nav-li">
          <a href={getLocalePath("/services/gel-x")} class="cs-nav-link"
            >Services</a
          >
        </li>
        <li class="cs-nav-li">
          <a href={getLocalePath("/prices")} class="cs-nav-link">Prices</a>
        </li>
        <li class="cs-nav-li">
          <a href={getLocalePath("/contact")} class="cs-nav-link">Contact</a>
        </li>
      </ul>
      <span class="cs-copyright">
        © Copyright {currentYear}
        <a href="" class="cs-copyright-link"
          >Stitch Skin Dermatology & Aesthetics</a
        >
      </span>
    </div>
  </div>
</footer>

<!-- <section class="right-section">
  <div class="lists">
    <ul>
      <li>
        <h2>{t("footer.information")}</h2>
      </li>
      Note: `:any` is solely used to stop the TypeScript warnings. It's an upstream issue with the i18n package which does not impact the code.
      {
        navData.map((entry: any) => (
          <li>
            {entry.url && (
              <a href={getLocalePath(entry.url)}>{t(entry.key)}</a>
            )}
          </li>
        ))
      }
    </ul>
    <ul>
      <li>
        <h2>{t("footer.services")}</h2>
      </li>
      <li>Service1</li>
      <li>Service2</li>
      <li>Service4</li>
      <li>Service5</li>
    </ul>
    <ul>
      <li>
        <h2>{t("footer.contact")}</h2>
      </li>
      <li>
        <a href={getLocalePath("/contact")}>
          {client.address.lineOne}<br />
          {client.address.lineTwo}<br />
          {client.address.city}
          {client.address.state}
          {client.address.zip}
        </a>
      </li>
      <li>
        <a href={`tel:${client.phoneForTel}`}>
          T:
          {client.phoneFormatted}
        </a>
      </li>
      <li>
        <a href={`mailto:${client.email}`}>{t("footer.click")}</a>
      </li>
    </ul>
  </div> -->

<style lang="less">
  /*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #cs-footer-1865 {
      padding: var(--sectionPadding);
      padding-top: 0;
      padding-bottom: (40/16rem);
      background-color: #1a1a1a;
      padding-top: 5rem;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .cs-subscribe {
        text-align: center;
        width: 100%;
        margin: auto;
        /* changes to -224px at desktop */
        margin-bottom: (-254/16rem);
        /* 60px - 100px top & bottom */
        padding: clamp(3.75rem, 8vw, 6.25rem) (24/16rem);
        background-color: var(--primary);
        border: 8px solid var(--primaryLight);
        border-radius: (80/16rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        /* 314px */
        transform: translateY(-19.625rem);
      }

      .cs-topper {
        margin: 0 0 (4/16rem) 0;
        color: var(--bodyTextColorWhite);
      }

      .cs-title {
        color: var(--bodyTextColorWhite);
        max-width: 25ch;
      }

      .cs-text {
        margin: 0 0 (32/16rem) 0;
        color: var(--bodyTextColorWhite);
      }

      .cs-form {
        width: 100%;
        max-width: (720/16rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: (8/16rem);
      }

      .cs-input {
        font-size: (16/16rem);
        width: 100%;
        /* 46px - 56px */
        height: clamp(2.875rem, 5.5vw, 3.5rem);
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        padding-left: (20/16rem);
        border: none;
        border-radius: (60/16rem);
        display: block;
      }

      .cs-button-solid {
        font-size: (16/16rem);
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-align: center;
        text-decoration: none;
        margin: 0;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        padding: 0 (24/16rem);
        background-color: var(--headerColor);
        color: #fff;
        border-radius: (60/16rem);
        display: inline-block;
        position: relative;
        z-index: 1;

        &:hover {
          background-color: #ffffff;
          color: var(--headerColor);
        }
      }

      .cs-submit {
        width: 100%;
        color: var(--bodyTextColorWhite);
        border: none;
        transition: background-color 0.3s;

        &:hover {
          cursor: pointer;
        }
      }

      .cs-top {
        width: 100%;
        /* 48px - 64px */
        margin-bottom: clamp(3rem, 6vw, 4rem);
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        /* 64px - 100px */
        column-gap: clamp(4rem, 9vw, 6.25rem);
        row-gap: (32/16rem);
      }

      .cs-logo-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* 32px - 48px */
        gap: clamp(2rem, 4vw, 3rem);
      }

      .cs-logo {
        width: 100%;
        max-width: (80/16rem);
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }

      .cs-social {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: (8/16rem);
      }

      .cs-social-li {
        list-style: none;
      }

      .cs-social-link {
        // width: (40/16rem);
        // height: auto;
        padding: (12/16rem);
        background-color: var(--secondary);
        border-radius: (32/16rem);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;

        &:hover {
          background-color: var(--primary);

          .cs-social-icon {
            filter: grayscale(1) brightness(1000%);
          }
        }
      }

      .cs-social-icon {
        // width: (16/16rem);
        // height: (16/16rem);
        width: 2rem;
        height: 2rem;
        display: block;
      }

      .cs-ul {
        width: auto;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: (8/16rem);
      }

      .cs-contact-ul {
        width: 100%;
        max-width: 100%;
        gap: (8/16rem);
      }

      .cs-li {
        list-style: none;
        margin: 0;
        display: block;
      }

      .cs-header {
        font-size: (20/16rem);
        font-weight: 700;
        line-height: 1.2em;
        /* 16px - 24px bottom */
        margin: 0 0 clamp(1rem, 3.5vw, 1.5rem) 0;
        color: var(--bodyTextColorWhite);
        display: block;
      }

      .cs-link,
      .cs-li {
        font-size: (16/16rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
        position: relative;
        z-index: 1;
      }

      .cs-link {
        &:hover {
          &:before {
            width: 100%;
          }
        }

        &:before {
          /* on hover underline */
          content: "";
          width: 0%;
          height: 1px;
          background: currentColor;
          opacity: 1;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: width 0.3s;
        }
      }

      .cs-bottom {
        width: 100%;
        margin: 0;
        /* 20px - 40px top */
        padding: clamp(1.25rem, 5vw, 2.5rem) 0 0 0;
        border-top: 1px solid #ded1bd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: (24/16rem);
      }

      .cs-nav {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        /* 20px - 40px */
        column-gap: clamp(1.25rem, 5.3vw, 2.5rem);
      }

      .cs-nav-li {
        list-style: none;
      }

      .cs-nav-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--bodyTextColorWhite);
        position: relative;

        &:hover {
          color: #8f5b34;

          &:before {
            width: 100%;
          }
        }

        &:before {
          /* on hover underline */
          content: "";
          width: 0%;
          height: 1px;
          background: currentColor;
          opacity: 1;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: width 0.3s;
        }
      }

      .cs-copyright {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-align: center;
        margin: 0;
        color: var(--bodyTextColorWhite);
      }

      .cs-copyright-link {
        font-size: inherit;
        line-height: inherit;
        text-decoration: none;
        margin: 0;
        color: inherit;
        display: inline-block;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #cs-footer-1865 {
      .cs-subscribe {
        /* 60px - 100px top & bottom */
        /* 100px - 200px left & right */
        padding: clamp(3.75rem, 8vw, 6.25rem) clamp(6.25rem, 13vw, 12.5rem);
        border-radius: (400/16rem);
      }

      .cs-form {
        flex-direction: row;
      }

      .cs-submit {
        width: 30%;
      }

      .cs-logo-wrapper {
        width: auto;
        margin-right: auto;
      }

      .cs-contact-ul {
        /* 152px - 412px */
        width: clamp(9.5rem, 25vw, 25.75rem);
      }
    }
  }

  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #cs-footer-1865 {
      .cs-subscribe {
        margin-bottom: (-224/16rem);
      }

      .cs-bottom {
        flex-direction: row;
      }

      .cs-copyright {
        text-align: right;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #cs-footer-1865 {
        background-color: rgba(0, 0, 0, 0.2);

        .cs-subscribe {
          background-color: var(--dark);
          border-color: var(--medium);
        }

        .cs-topper {
          color: var(--primary);
        }

        .cs-text {
          opacity: 0.8;
        }

        .cs-header,
        .cs-link,
        .cs-social-link,
        .cs-nav-link,
        .cs-copyright,
        .cs-li {
          color: var(--bodyTextColorWhite);
        }

        .cs-submit {
          background-color: var(--primary);
          &:hover {
            background-color: #fff;
            color: var(--primary);
          }
        }

        .cs-social-link {
          border-color: var(--bodyTextColorWhite);
        }

        .cs-icon,
        .cs-logo {
          filter: grayscale(1) brightness(1000%);
        }

        .cs-bottom {
          border-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
</style>
